<form [formGroup]="form" (ngSubmit)="submit()">

  <div class="modal-header">
    <div class="modal-header-left">
      <h3>Commentaar bewerken</h3>
    </div>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label for="searchterm">Zoekterm:</label>
      <input
        formControlName="searchterm"
        id="searchterm"
        type="text"
        class="form-control">
      <div *ngIf="f['searchterm'].touched && f['searchterm'].invalid" class="alert alert-danger">
        <div *ngIf="f['searchterm'].errors && f['searchterm'].errors['required']">Zoekterm is verplicht.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="replacement">Commentaar</label>
      <input
        formControlName="replacement"
        id="replacement"
        type="text"
        class="form-control">
      <div *ngIf="f['replacement'].touched && f['replacement'].invalid" class="alert alert-danger">
        <div *ngIf="f['replacement'].errors && f['replacement'].errors['required']">Commentaar is verplicht.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="category" class="form-label">Categorie</label>
      <select
        formControlName="category"
        id="category"
        class="form-select">
        <option value="0">-</option>
        <option *ngFor="let cat of categories"
                [ngValue]="cat">{{ cat.label }}</option>
      </select>
      <div *ngIf="f['category'].touched && f['category'].invalid" class="alert alert-danger">
        <div *ngIf="f['category'].errors && f['category'].errors['required']">Categorie is verplicht.</div>
      </div>
      <div class="d-flex mt-5">
        {{ comment.category.label }}
      </div>
    </div>
  </div>

  <div class="modal-budget-footer">
    <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.valid">
      <i class="fa fa-plus-circle"></i> Bewaar commentaar
    </button>
    <button class="btn btn-sm btn-primary" type="button" (click)="close()">
      <i class="fa fa-times-circle"></i> Annuleren
    </button>
  </div>
</form>
