.customPanel{
  border: solid 2px #7d97a5;
  border-radius: 12px;
  margin: 10px;
}

.customPanel .panel-heading{
  background: #7d97a5;
  color: #f5f7f8;
  padding: 6px;
  border-radius: 8px 8px 0 0;
  height: 80px;
}

.customPanel .panel-heading h3 {
  font-size: 18px;
  font-weight: bold;
}

.customPanel .panel-heading .btn{
  color: #f5f7f8;
  background-color: #3a4b53;
  font-size: 14px;
  padding: 7px 15px;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}

.panecustomPanellBudget .panel-heading .card-button {
  float: right;
}

.customPanel .panel .panel-heading .btn:hover{
  box-shadow: 0 0 10px #3a4b53;
}

.customPanel .panel .panel-body{
  padding: 0;
}
